- require 'calendar'
- calendar = Calendar.new(history)

%table{:cellspacing => "0"}
  - count = 1
  - days = %w{S M T W Th F S}
  %thead
    %tr
      - days.each do |d|
        != "<td>#{d}</td>"
  %tbody
    - calendar.by_week.each_index do |week_index|
      %tr{ :class => "#{(week_index + 1).ordinalize}-row" }
        - calendar.by_week[week_index].each do |day|
          %td{ :class => "bar bar-#{ day <= 9 ? day : 9 }"}
            = day
