%div{ :data => { :role => "page" } }
  = render 'layouts/header', :right_button => nil, :left_button => nil
  %div{ :data => { :role => 'content' } }
    %div.secondary
      #statistics.ui-corner-all.ui-shadow.ui-btn-up-c
        %span#stats-grid-plus-minus
          = link_to "+", "#", :id => "expand-stats-grid", 'data-role' => 'button',
            'data-icon' => 'plus', 'data-iconpos' => 'notext'
        = render :partial => 'stats_grid', :locals => { :history => @history }

      %ul{ :data => { :role => 'listview', :inset => 'true' } }
        %li.new-task-form
          = form_for @task do |f|
            = f.text_field :description
            .actions
              = f.submit "Add Task"
      = render 'dash_groups', :groups => @groups
      = render 'invitation_count', :invitations => @invitations
      = render 'dash_settings'
    %div.primary
      = render 'layouts/flash', :flash => flash
      - if current_user.tasks.count == 0
        #tutorial
          :textile
            Welcome to *Magic Hat*. The next step is to create your first task.
            Just use the form and click 'Add Task!'
      - unless @important_tasks.empty?
        %ul.tasks{ :data => { :role => "listview", :inset => 'true',
          'split-icon' => 'gear' } }
          - current_date = nil
          - @important_tasks.each do |task|
            - if task.deadline?
              - if (current_date == nil) || (current_date != task.deadline.to_s(:date))
                %li{ :data => { :role => "list-divider" } }= task.deadline.to_s(:date)
                - current_date = task.deadline.to_s(:date)
            = render :partial => 'tasks/task', :locals => { :task => task }
      = render 'dash_groups', :groups => @groups
      = render 'dash_settings'
