%h1 Dashboard
%h3#tasks-completed Completed Today: #{@total_completed}
%h3#velocity Per-week Average: #{@velocity}
%ul
  %li
    = link_to "Active Goals", dashboard_path
  %li
    = link_to "Shelved Goals", shelved_path
= link_to "Create new Goal", new_goal_path
= form_tag complete_tasks_path, :method => :put do
  %table
    %tr
      %td
        = submit_tag "Update Tasks"
      %td
      %td
    = render @goals
    %tr
      %td
        = submit_tag "Update Tasks"
      %td
      %td


