
= render 'layouts/header', :right_button => { :text => "Settings",
  :path => edit_user_path(current_user), :options => { 'data-icon' => 'gear',
  'data-transition' => 'flip' } }, :left_button => nil
= render 'layouts/flash', :flash => flash
%div{ :data => { :role => 'content' } }
  - unless current_user.tasks.count == 0
    #statistics
      -# TODO Link this to a 'what is this' FAQ sort of page. Make some method that friendly links 'ok, back to what i was doing'
      = link_to "#{@total_completed} today, #{@velocity} avg.", root_path
  %ul{ :data => { :role => "listview", :inset => 'true',
    'split-icon' => 'gear' } }
    - if current_user.goals.count == 0
      %li#tutorial
        :textile
          Welcome to *Magic Hat*. The next step is to create your first goal.
    - else
      = render @goals
    %li{ :data => { :theme => 'b' } }
      = link_to "Add Goal", new_goal_path, 'data-inline' => 'true',
        'data-icon' => 'plus', 'data-rel' => 'dialog', 'data-transition' => 'slidedown'
