= render 'layouts/header', :right_button => { :text => "Settings",
  :path => edit_user_path(current_user), :options => { 'data-icon' => 'gear',
  'data-transition' => 'flip' } }, :left_button => nil
= render 'layouts/flash', :flash => flash
%div{ :data => { :role => 'content' } }
  - unless current_user.tasks.count == 0
    - if current_user.goals.count == 0
      %li#tutorial
        :textile
          Welcome to *Magic Hat*. The next step is to create your first goal.
    - else
      #statistics.ui-corner-all.ui-shadow.ui-btn-up-c
        -# TODO Link this to a 'what is this' FAQ sort of page. Make some method that friendly links 'ok, back to what i was doing'
        %span#stats-grid-plus-minus
          = link_to "+", "#", :id => "expand-stats-grid", 'data-role' => 'button',
            'data-icon' => 'plus', 'data-iconpos' => 'notext'
        -# = link_to "#{@total_completed} today, #{@velocity} avg.", root_path
        = render :partial => 'stats_grid', :locals => { :history => @history }
      - unless @important_tasks.empty?
        %h3 Tasks
        %ul{ :data => { :role => "listview", :inset => 'true',
          'split-icon' => 'gear' } }
          - current_date = nil
          - @important_tasks.each do |task|
            - if task.deadline?
              - if (current_date == nil) || (current_date != task.deadline.to_s(:date))
                %li{ :data => { :role => "list-divider" } }= task.deadline.to_s(:date)
                - current_date = task.deadline.to_s(:date)
            = render :partial => 'tasks/task', :locals => { :task => task }
      %h3 Goals
      %ul{ :data => { :role => "listview", :inset => 'true',
        'split-icon' => 'gear' } }
        = render @goals
        %li{ :data => { :theme => 'b', :icon => 'plus' } }
          = link_to "Add Goal", new_goal_path
