%h1 Sign in

= render 'layouts/flash', :flash => flash

= form_for(:session, :url => sessions_path) do |f|
  %div.field
    = f.label :email
    = f.text_field :email
  %div.field
    = f.label :password
    = f.text_field :password
  %div.actions
    = f.submit "Sign in"
    = link_to "Cancel", :back, :class => "cancel"

%p
  New User? 
  = link_to "Sign up now!", signup_path
