= f.fields_for :schedule_attributes, task.schedule_attributes do |sattr|
  .field
    = sattr.label :repeat, "Make a habit?"
    = sattr.check_box :repeat, :checked => task.habit? ? true : false
  %div{ :class => task.habit? ? "habit-fields" : "habit-fields hidden" }
    %div{ :data => { :role => "controlgroup", :type => "horizontal" }, :class => "start-date" }
      = sattr.label :start_date, "Starting date"
      = sattr.date_select :start_date
    .field.repeat
      %div{ :data => { :role => "fieldcontain" } }
        = sattr.label :interval, "Repeat every:"
        = sattr.range_field :interval, :min => "1", :max => "7"
      %fieldset{ :data => { :role => "controlgroup", :type => "horizontal" } }
        = sattr.label :interval_unit_day, "Days"
        = sattr.radio_button :interval_unit, "day",
          :checked => task.schedule_attributes.interval_unit == "day" ? true : false
        = sattr.label :interval_unit_week, "Weeks"
        = sattr.radio_button :interval_unit, "week",
          :checked => task.schedule_attributes.interval_unit == "week" ? true : false
