= f.fields_for :schedule_attributes, task.schedule_attributes do |sattr|
  .field
    = sattr.label :repeat, "Make a habit?"
    = sattr.check_box :repeat, :checked => task.habit? ? true : false
  %div{ :class => task.habit? ? "habit-fields" : "habit-fields hidden" }
    = sattr.hidden_field :start_date
    = sattr.hidden_field :interval, :value => "1"
    = sattr.hidden_field :interval_unit, :value => "week"
    %legend Every:
    %div{ :data => { :role => "fieldcontain" }, :class => "weekly-days"}
      %fieldset{ :data => { :role => "controlgroup", :type => "horizontal" } }
        = sattr.label :sunday, "Su"
        = sattr.check_box :sunday
        = sattr.label :monday, "Mo"
        = sattr.check_box :monday
        = sattr.label :tuesday, "Tu"
        = sattr.check_box :tuesday
        = sattr.label :wednesday, "We"
        = sattr.check_box :wednesday
        = sattr.label :thursday, "Th"
        = sattr.check_box :thursday
        = sattr.label :friday, "Fr"
        = sattr.check_box :friday
        = sattr.label :saturday, "Sa"
        = sattr.check_box :saturday
