%tr.tasks
  %td.task_status
    = check_box_tag "ids[]", task.id, !task.active?
    Completed:

    = task.complete
  %td.task_description
    = task.description
  %td.task_actions
    = link_to "Edit", edit_task_path(task)
    = button_to("Delete", task, { :action => 'destroy', :id => task.id, :confirm => "Are you sure?", :method => :delete })
