= render 'shared/error_messages', :object => f.object
.field
  = f.label :description
  = f.text_field :description
.field
  = f.label :deadline_string, "Deadline"
  = f.text_field :deadline_string, :placeholder => "In three days"
