.task
  .task_info_wrapper
    .task_status
      = check_box_tag "ids[]", task.id, !task.active?
      -# = task.complete
    .task_deadline
      = task.deadline
    .task_description
      %p #{ task.description }
  .task_actions
    = link_to "Edit", edit_task_path(task), :class => 'button'
    = link_to "Delete", task, :id => task.id, :confirm => "Delete this task?", :method => :delete, :class => 'button'
