= render 'shared/error_messages', :object => f.object
.field
  = f.label :description
  = f.text_field :description
.field
  = f.label :deadline_string, "Deadline"
  = f.text_field :deadline_string
  %span Put in the date and time of the deadline like so: "11-23-2012 10:22 PM"
