%li.task{ :id => "task_complete_#{task.id}", :class => task.active? ? nil : 'task-active' }
  = link_to complete_toggle_task_path(task), 'data-ajax' => 'false', :remote => true, :method => :put do
    %span.check-box
    = task.description
    %p.ui-li-aside= task.deadline.to_s(:time) if task.deadline?
  = link_to "Edit", '#', :class => "form_for_task_#{ task.id }",
    :id => "form-reveal-button"
%li.task-form{ :class => "form_for_task_#{ task.id }" }
  = form_for task do |f|
    = render 'tasks/task_fields', :f => f
    = render 'tasks/habit_fields', :f => f, :task => task
    .actions
      = f.submit "Save", :data => { :ajax => "false" }
