%li.task{ :id => "task_complete_#{task.id}", :class => task.active? ? nil : 'task-active' }
  = link_to task.description, complete_toggle_task_path(task),
    'data-ajax' => 'false', :remote => true, :method => :put
  = link_to "Edit", edit_task_path(task)
%li.task{ :class => "form_for_task_#{ task.id}" }
  = form_for task do |f|
    = render 'tasks/task_fields', :f => f
    .actions
      = f.submit "Save"
      = link_to "Make Habit", new_habit_path(task),
        :id => "create_habit_from_task_#{task.id}"
