%h1 Edit Task for
%h2 #{@goal.title}
= form_for @task do |f|
  = render :partial => "task_fields", :locals => { :f => f }
  = render 'habit_fields', :f => f, :task => @task
  .actions
    = f.submit "Save", :data => { :ajax => "false" }
