= render 'layouts/header',
  :right_button => nil,
  :left_button => { :text => "Back",
    :path => dashboard_path,
    :options => { 'data-icon' => 'arrow-l',
      'data-transition' => 'slide',
      'data-direction' => 'reverse' } }
%h2 New task for #{@goal.title}
%ul{ :data => { :role => "listview" }}
  %li.new-task-form
    = form_for @task do |f|
      = render 'task_fields', :f => f
      = render 'habit_fields', :f => f, :task => @task
      .field
      = f.hidden_field :goal_id
      .actions
        = f.submit "Save", :goal_id => @goal.id
