= render 'shared/error_messages', :object => f.object
.field
  = f.label :name
  %br/
  = f.text_field :name
.field
  = f.label :email
  %br/
  = f.text_field :email
.field
  = f.label :website
  %br/
  = f.text_field :website
.field
  = f.label :biography
  = f.text_area :biography
.field
  = f.label :password
  %br/
  = f.password_field :password
.field
  = f.label :password_confirmation, "Password Confirmation"
  %br/
  = f.password_field :password_confirmation
