.profile{:summary => "Profile information"}
  %h1
    = gravatar_for @user
    = link_to @user.name, @user
  - if @user.empty_profile && @user == current_user
    = link_to "Get started on your profile!", edit_user_path(@user), :id => "tutorial"
  - else
    - if @user.website
      .website
        %strong Web site:
        = link_to @user.website, @user.website
    - if @user.biography
      .biography
        %strong Biography
        %p #{@user.biography}
    - if @user == current_user
      = link_to "Edit my profile", edit_user_path(@user)
