%div{ :data => { :role => "page" } }
  = render 'layouts/header',
    :right_button => nil,
    :left_button => { :text => "Back",
      :path => dashboard_path,
      :options => { 'data-icon' => 'arrow-l',
        'data-transition' => 'slide',
        'data-direction' => 'reverse' } }
  %div{:data => { :role => "content" } }
    %ul{ :data => { :role => "listview" }}
      %li
        = form_for [:group, @invitation] do |f|
          = render 'shared/error_messages', :object => f.object
          = f.hidden_field :group_id
          %div.field
            = f.label :user_email
            = f.text_field :user_email
          %div.actions
            = f.submit "Send", 'data-ajax' => 'false'
