- tasks = goal.tasks
- incomplete_tasks = goal.incomplete_tasks
- complete_tasks = goal.complete_tasks
%li.goal
  = link_to goal.title, goal
  = link_to "Edit", '#', 'data-transition' => 'slidedown',
    :id => "form-reveal-button"
%li.goal-form{ :id => "form_for_goal_#{ goal.id }" }
  = form_for goal do |f|
    = render 'goals/goal_fields', :f => f
    .actions
      = f.submit "Save"
