-# TODO Clean up this crap so we don't do multiple queries.
- tasks = goal.tasks
- incomplete_tasks = goal.incomplete_tasks
- complete_tasks = goal.complete_tasks
%li.goal{ :data => { :theme => "#{ goal == current_goal ? 'a' : ''}" } }
  = link_to goal do
    %h3= goal.title
    %p.ui-li-desc.ui-li-count= goal.incomplete_tasks.count
    %p.ui-li-desc= goal.description
  = link_to "Edit", '#', 'data-transition' => 'slidedown',
    :id => "form-reveal-button"
%li.goal-form{ :id => "form_for_goal_#{ goal.id }" }
  = form_for goal do |f|
    = render 'goals/goal_fields', :f => f
    .actions
      = f.submit "Save"
      = link_to "Delete", goal, :action => 'destroy', :id => goal.id,
          :confirm => "Delete this goal?", :method => :delete, :data => { :role => 'button',
          :theme => 'f', :ajax => 'false' }
