%h1 Dashboard
%p You are now looking at the dashboard
= link_to "Create new Goal", new_goal_path
%table
  - @goal_tasks.each do |goal, tasks|
    %tr.goals
      %td.goal
        = goal.title
      %td.goal_description
        = goal.description
      %td.goal_actions
        = link_to "Edit", edit_goal_path(goal)
        = link_to "Delete", :method => :delete, :confirm => "Are you sure?",
          :title => "Delete"
    - unless tasks.empty?
      %tr.new_task
        %td
        %td
          = link_to "New Task", new_task_path(goal)
        %td
      - tasks.each do |task|
        %tr.tasks
          %td.task
            +
          %td.task_description
            = task.description
          %td.task_actions
            = link_to "Edit", edit_task_path(task)
            = link_to "Delete", :method => :delete, :confirm => "Are you sure?",
              :title => "Delete"
    - else
      %tr.new_task
        %td
        %td
          There are no tasks yet.
          = link_to "Create a new Task", new_task_path(goal)
        %td
