= render 'layouts/header', :right_button => { :text => "Edit",
  :path => edit_goal_path(@goal), :options => { 'data-icon' => 'gear',
  'data-transition' => 'flip' } }, :left_button => { :text => "Dashboard",
  :path => dashboard_path, :options => { 'data-icon' => 'arrow-l',
  'data-transition' => 'slide', 'data-direction' => 'reverse',
  'data-ajax' => 'false' } }
%div{ :data => { :role => 'content' } }
  = render 'layouts/flash', :flash => flash
  %h3= @goal.description
  %ul{ :data => { :role => 'listview', :inset => 'true', 'split-icon' => 'gear' } }
    - unless @tasks.empty?
      - current_date = nil
      - @incomplete_tasks.each do |task|
        - if task.deadline?
          - if (current_date == nil) || (current_date != task.deadline.to_s(:date))
            %li{ :data => { :role => "list-divider" } }= task.deadline.to_s(:date)
            - current_date = task.deadline.to_s(:date)
        = render :partial => 'tasks/task', :locals => { :task => task }
      = render :partial => 'tasks/task', :collection => @complete_tasks
      %li{ :data => { :theme => 'b', :icon => 'plus' } }
        = link_to "Add Task", new_task_path(:goal_id => @goal), :data => { :ajax => 'false' }
    - else
      %li There are no tasks yet.
      %li{ :data => { :theme => 'b', :icon => 'plus' } }
        = link_to "Create a new Task", new_task_path(:goal_id => @goal), :data => { :ajax => 'false' }
