%p#notice= notice

%p
  %b Description:
  = @plan.description
%p
  %b Due date:
  = @plan.due_date
%p
  %b Completed:
  = @plan.completed

= link_to 'Edit', edit_plan_path(@plan)
\|
= link_to 'Back', plans_path
