= form_for habit do |f|
  .field
    = f.label :description
    = f.text_field :description
    = f.fields_for :schedule_attributes do |sattr|
      .field
        = sattr.text_field :repeat, :type => :hidden,
          :initial_value => "1"
      .field
        = sattr.label :date, "Starting date"
        = sattr.text_field :date
      .field
        = sattr.label :interval_unit, "Every (day, week)"
        = sattr.text_field :interval_unit
      .field
        = sattr.label :interval, "Interval"
        = sattr.text_field :interval
  .action
    = f.submit "Save"
