!!!
%html
  %head
    %title #{ title }
    -# = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    -# = stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag 'jquery_mobile'
    -# %link{:rel => "stylesheet", :href => "http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" }
    -# %script{ :src => "http://code.jquery.com/jquery-1.5.2.min.js" }
    -# %script{ :src => "http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js" }

    -# [if IE]
      -# = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag 'jquery', 'application'
    = javascript_include_tag 'jquery_mobile'

    %link{ 'href' => 'http://fonts.googleapis.com/css?family=Crimson+Text:regular,regularitalic,bolditalic', 'rel' => 'stylesheet', 'type' => 'text/css' }
    = csrf_meta_tag
    %meta{ 'name' => 'viewport', 'content' => 'width=device-width', 
           'initial-scale' => '1.0', 'maximum-scale' => '1.0',
           'user-scalable' => 'no'}
    %meta{ 'name' => 'apple-mobile-web-app-capable', 'content' => 'yes' }
    %link{ 'rel' => "apple-touch-icon", 'href' => 'images/magic_hat_rough.png' }
  %body
    %div{ :data => { :role => "page" } }
      = render 'layouts/header'
      %div.container{ :data => { :role => "content" } }
        - flash.each do |key, value|
          .flash{:class => key}
            = value
        = yield
