!!!
%html
  %head
    %title #{ title }
    = render 'layouts/stylesheets'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    %div.container 
      = render 'layouts/header'
      - flash.each do |key, value|
        .flash{:class => key}
          = value
      = yield
